/* stylelint-disable csstree/validator */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: 1px solid #4a4c4c;
  z-index: 5;
}

/* .carousel-item img {
  object-fit: cover;
  min-height: 250px;
  width: 100%;
} */

html,
body {
  height: 100%;
}

#pic-slide {
  height: 75%;
}

#main-button,
#main-buttons {
  background-color: #00496a;
  color: #fff;
}

.project .lang {
  background-color: #4a4c4c;
  color: #fff;
  width: fit-content;
  height: fit-content;
  border-radius: 15%;
  padding: 1%;
}

form .project-button,
.project .project-button {
  color: #fff;
  background-color: #00496a;
}

.project .card-img-top {
  object-fit: cover;
  width: 100%;
}

.about {
  margin: 10% 0;
}

.about .languages,
.about .languages ul li {
  background-color: #00496a;
  color: #fff;
}

.about .frameworks,
.about .frameworks ul li {
  background-color: #4a4c4c;
  color: #fff;
}

.about .skills,
.about .skills ul li {
  background-color: #013554;
  color: #fff;
}

.about-blocks {
  position: relative;
}

#lan-img,
#frame-img,
#skill-img {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
}

.contact {
  padding: 6em 0;
  text-align: center;
  position: relative;
}

.contact button {
  padding-left: 2em;
  padding-right: 2em;
}

footer {
  background-color: #013554;
}

footer p {
  color: #fff;
}

footer .iconing .foot-icon {
  color: #fff;
}

#first-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
}

#second-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
}

#pic-slide .main-name{
  width: 50%;
}

@media screen and (max-width: 768px) {
  #pic-slide .main-name{
    width: 100%;
    padding: 5% 0;
  }
}

@media screen and (max-width: 490px) {
  #pic-slide .main-name{
    width: 100%;
  }
}